version: '3.1'
services:
  # API service
  api:
    image: faye1225/takin-dify-api:0.0.6
    restart: always
    environment:
      - MODE=api
      - LOG_LEVEL=${LOG_LEVEL}
      - SECRET_KEY=${SECRET_KEY}
      - CONSOLE_WEB_URL=${CONSOLE_WEB_URL}
      - INIT_PASSWORD=${INIT_PASSWORD}
      - CONSOLE_API_URL=${CONSOLE_API_URL}
      - SERVICE_API_URL=${SERVICE_API_URL}
      - APP_WEB_URL=${APP_WEB_URL}
      - FILES_URL=${FILES_URL}
      - FILES_ACCESS_TIMEOUT=${FILES_ACCESS_TIMEOUT}
      - MIGRATION_ENABLED=${MIGRATION_ENABLED}

      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_DATABASE=${DB_DATABASE}

      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}
      - REDIS_USERNAME=${REDIS_USERNAME}
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - REDIS_USE_SSL=${REDIS_USE_SSL}
      - REDIS_DB=${REDIS_DB}
      - CELERY_BROKER_URL=${CELERY_BROKER_URL}

      - WEB_API_CORS_ALLOW_ORIGINS=${WEB_API_CORS_ALLOW_ORIGINS}
      - CONSOLE_CORS_ALLOW_ORIGINS=${CONSOLE_CORS_ALLOW_ORIGINS}

      - STORAGE_TYPE=${STORAGE_TYPE}
      - S3_ENDPOINT=${S3_ENDPOINT}
      - S3_BUCKET_NAME=${S3_BUCKET_NAME}
      - S3_ACCESS_KEY=${S3_ACCESS_KEY}
      - S3_SECRET_KEY=${S3_SECRET_KEY}
      - S3_REGION=${S3_REGION}
      - S3_ADDRESS_STYLE=${S3_ADDRESS_STYLE}

      - VECTOR_STORE=${VECTOR_STORE}
      - WEAVIATE_ENDPOINT=${WEAVIATE_ENDPOINT}
      - WEAVIATE_API_KEY=${WEAVIATE_API_KEY}

      - MAIL_TYPE=${MAIL_TYPE}
      - MAIL_DEFAULT_SEND_FROM=${MAIL_DEFAULT_SEND_FROM}
      - SMTP_SERVER=${SMTP_SERVER}
      - SMTP_PORT=${SMTP_PORT}
      - SMTP_USERNAME=${SMTP_USERNAME}
      - SMTP_PASSWORD=${SMTP_PASSWORD}
      - SMTP_USE_TLS=${SMTP_USE_TLS}

      - CODE_EXECUTION_ENDPOINT=${CODE_EXECUTION_ENDPOINT}
      - CODE_EXECUTION_API_KEY=${CODE_EXECUTION_API_KEY}
      - CODE_MAX_NUMBER=${CODE_MAX_NUMBER}
      - CODE_MIN_NUMBER=${CODE_MIN_NUMBER}
      - CODE_MAX_STRING_LENGTH=${CODE_MAX_STRING_LENGTH}
      - TEMPLATE_TRANSFORM_MAX_LENGTH=${TEMPLATE_TRANSFORM_MAX_LENGTH}
      - CODE_MAX_STRING_ARRAY_LENGTH=${CODE_MAX_STRING_ARRAY_LENGTH}
      - CODE_MAX_OBJECT_ARRAY_LENGTH=${CODE_MAX_OBJECT_ARRAY_LENGTH}
      - CODE_MAX_NUMBER_ARRAY_LENGTH=${CODE_MAX_NUMBER_ARRAY_LENGTH}

      - SSRF_PROXY_HTTP_URL=${SSRF_PROXY_HTTP_URL}
      - SSRF_PROXY_HTTPS_URL=${SSRF_PROXY_HTTPS_URL}

      - INDEXING_MAX_SEGMENTATION_TOKENS_LENGTH=${INDEXING_MAX_SEGMENTATION_TOKENS_LENGTH}

    volumes:
      # Mount the storage directory to the container, for storing user files.
      - ./volumes/app/storage:/app/api/storage
    # uncomment to expose dify-api port to host
    ports:
      - "5001:5001"
    networks:
      - ssrf_proxy_network
      - default

  # worker service
  # The Celery worker for processing the queue.
  worker:
    image: faye1225/takin-dify-api:0.0.6
    restart: always
    environment:
      - MODE=worker
      - LOG_LEVEL=${LOG_LEVEL}
      - SECRET_KEY=${SECRET_KEY}
      - CONSOLE_WEB_URL=${CONSOLE_WEB_URL}
      - INIT_PASSWORD=${INIT_PASSWORD}
      - CONSOLE_API_URL=${CONSOLE_API_URL}
      - SERVICE_API_URL=${SERVICE_API_URL}
      - APP_WEB_URL=${APP_WEB_URL}
      - FILES_URL=${FILES_URL}
      - FILES_ACCESS_TIMEOUT=${FILES_ACCESS_TIMEOUT}
      - MIGRATION_ENABLED=${MIGRATION_ENABLED}

      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_DATABASE=${DB_DATABASE}

      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}
      - REDIS_USERNAME=${REDIS_USERNAME}
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - REDIS_USE_SSL=${REDIS_USE_SSL}
      - REDIS_DB=${REDIS_DB}
      - CELERY_BROKER_URL=${CELERY_BROKER_URL}

      - WEB_API_CORS_ALLOW_ORIGINS=${WEB_API_CORS_ALLOW_ORIGINS}
      - CONSOLE_CORS_ALLOW_ORIGINS=${CONSOLE_CORS_ALLOW_ORIGINS}

      - STORAGE_TYPE=${STORAGE_TYPE}
      - S3_ENDPOINT=${S3_ENDPOINT}
      - S3_BUCKET_NAME=${S3_BUCKET_NAME}
      - S3_ACCESS_KEY=${S3_ACCESS_KEY}
      - S3_SECRET_KEY=${S3_SECRET_KEY}
      - S3_REGION=${S3_REGION}
      - S3_ADDRESS_STYLE=${S3_ADDRESS_STYLE}


      - VECTOR_STORE=${VECTOR_STORE}
      - WEAVIATE_ENDPOINT=${WEAVIATE_ENDPOINT}
      - WEAVIATE_API_KEY=${WEAVIATE_API_KEY}

      - MAIL_TYPE=${MAIL_TYPE}
      - MAIL_DEFAULT_SEND_FROM=${MAIL_DEFAULT_SEND_FROM}
      - SMTP_SERVER=${SMTP_SERVER}
      - SMTP_PORT=${SMTP_PORT}
      - SMTP_USERNAME=${SMTP_USERNAME}
      - SMTP_PASSWORD=${SMTP_PASSWORD}
      - SMTP_USE_TLS=${SMTP_USE_TLS}

      - CODE_EXECUTION_ENDPOINT=${CODE_EXECUTION_ENDPOINT}
      - CODE_EXECUTION_API_KEY=${CODE_EXECUTION_API_KEY}
      - CODE_MAX_NUMBER=${CODE_MAX_NUMBER}
      - CODE_MIN_NUMBER=${CODE_MIN_NUMBER}
      - CODE_MAX_STRING_LENGTH=${CODE_MAX_STRING_LENGTH}
      - TEMPLATE_TRANSFORM_MAX_LENGTH=${TEMPLATE_TRANSFORM_MAX_LENGTH}
      - CODE_MAX_STRING_ARRAY_LENGTH=${CODE_MAX_STRING_ARRAY_LENGTH}
      - CODE_MAX_OBJECT_ARRAY_LENGTH=${CODE_MAX_OBJECT_ARRAY_LENGTH}
      - CODE_MAX_NUMBER_ARRAY_LENGTH=${CODE_MAX_NUMBER_ARRAY_LENGTH}

      - SSRF_PROXY_HTTP_URL=${SSRF_PROXY_HTTP_URL}
      - SSRF_PROXY_HTTPS_URL=${SSRF_PROXY_HTTPS_URL}

      - INDEXING_MAX_SEGMENTATION_TOKENS_LENGTH=${INDEXING_MAX_SEGMENTATION_TOKENS_LENGTH}

    volumes:
      # Mount the storage directory to the container, for storing user files.
      - ./volumes/app/storage:/app/api/storage
    networks:
      - ssrf_proxy_network
      - default

  # Frontend web application.
  web:
    image: faye1225/takin-dify-web:0.0.6
    restart: always
    environment:
      - CONSOLE_API_URL=${CONSOLE_API_URL}
      - APP_API_URL=${APP_API_URL}
      - MONGODB_URI=${MONGODB_URI}
      - MONGODB_NAME=${MONGODB_NAME}

    # uncomment to expose dify-web port to host
  #    ports:
#      - "3000:3000"


  # The DifySandbox
  sandbox:
    image: langgenius/dify-sandbox:0.2.0
    restart: always
    environment:
      # The DifySandbox configurations
      # Make sure you are changing this key for your deployment with a strong key.
      # You can generate a strong key using `openssl rand -base64 42`.
      API_KEY: dify-sandbox
      GIN_MODE: 'release'
      WORKER_TIMEOUT: 15
      ENABLE_NETWORK: 'true'
      HTTP_PROXY: 'http://ssrf_proxy:3128'
      HTTPS_PROXY: 'http://ssrf_proxy:3128'
    volumes:
      - ./volumes/sandbox/dependencies:/dependencies
    networks:
      - ssrf_proxy_network

  # ssrf_proxy server
  # for more information, please refer to
  # https://docs.dify.ai/getting-started/install-self-hosted/install-faq#id-16.-why-is-ssrf_proxy-needed
  ssrf_proxy:
    image: ubuntu/squid:latest
    restart: always
    volumes:
      # pls clearly modify the squid.conf file to fit your network environment.
      - ./volumes/ssrf_proxy/squid.conf:/etc/squid/squid.conf
    networks:
      - ssrf_proxy_network
      - default

  # The nginx reverse proxy.
  # used for reverse proxying the API service and Web service.
  nginx:
    image: nginx:latest
    restart: always
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/proxy.conf:/etc/nginx/proxy.conf
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./nginx/ssl:/etc/ssl
    depends_on:
      - api
      - web
    ports:
      - "80:80"
      - "443:443"
networks:
  # create a network between sandbox, api and ssrf_proxy, and can not access outside.
  ssrf_proxy_network:
    driver: bridge
    internal: true
